.flex-container {
    display: flex;
    flex-wrap: wrap;
}

section>div>div {
    background-color: chocolate;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

    margin: auto;
    margin-top: 5px;
    
}

.flex-item-1{
    width: 100%;
}

.flex-item-2 {
    width: 49%;
}

.flex-item-3 {
    width: 33%;
}

.flex-item-12 {
    width: 6%;
}