.flex-container {
    display: flex;
    flex-wrap: wrap;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;

    margin: 5px;
}

.flex-item-1{
    display: flex;

    width: 100%;
}

.flex-item-2 {
    display: flex;

    width: 100%;
}

.flex-item-3 {
    display: flex;

    width: 100%;
}

.flex-item-12 {
    display: flex;

    width: 100%;
}

.box {
    background-color: chocolate;

    width: 100%;
}